body {
    /* 设置页面高度 */
    /*height: 100%;*/
    /* 设置背景图片 */
    background-image: url("https://img.hongmao.run/background/zhd/background.jpg");
    /* 设置图片仅显示一次，不重复显示 */
    background-repeat: no-repeat;
    background-size: 100%;
}

button {
    cursor: pointer;
}

.container {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.logo {
    text-align: center;
    height: 8rem;
}

.logo img {
    height: inherit;
}

.search_module {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.main_input {
    width: 99%;
    height: 2rem;
    opacity: 70%;
    padding-left: 1%;
    padding-right: 0;
    border: 0;
}

.main_input:focus {
    /* 设置输入框聚焦时不需要展示轮廓 */
    outline: none;
}

.search_module table {
    width: 100%;
    text-align: center;
    border-collapse: collapse;
}

.search_module td {
    /*padding-top: 0;*/
    padding-bottom: 0;
}

.td_left {
    text-align: right;
    width: 94%
}

.td_right {
    text-align: right;
}

.go_button {
    height: 2rem;
    opacity: 70%;
}

.common_btn_line {
    text-align: center;
    height: 2rem;
    opacity: 100%;
    padding-top: 0.5rem;
}

.common_btn_line button {
    height: inherit;
    background-color: azure;
    padding-left: 0.5em;
    padding-right: 0.5em;
    border: azure;
    border-radius: 2rem;
    opacity: 70%;
}

.common_btn_line button:hover {
    opacity: 100%;
}

.common_block {
    text-align: center;
    height: auto;
    /*opacity: 70%;*/
    padding-top: 5rem;
}

.common_block table {
    /* 如下3行设置居中 */
    margin: auto;
    left: 0;
    right: 0;
}

.block {
    width: 15rem;
    height: 9rem;
    background: azure;
    /* 鼠标悬浮时，变为小手指 */
    cursor: pointer;
    opacity: 70%;
}

.block:hover {
    opacity: 100%;
}

.block img {
    height: 5em;
}

.block p {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 1rem;
}

.selected {
    opacity: 100%;
    background-color: #4dc86f;
    border: 2px solid #4dc86f;
    color: azure;
    outline: #4dc86f solid 1px;
}

.option_btn {
    opacity: 70%;
    background-color: azure;
    border: 2px solid azure;
    color: black;
}

.option_btn:hover {
    opacity: 100%;
}

#option {
    font-size: 0;
}

#option button {
    margin-left: 1px;
    height: 1.6rem;
}